<div class="row">
    <h1 class="h2 header-shaded panel-small">Contact #wewillgather</h1>
</div>				
<div class="row">
	<p class="alert-box success">Thanks for getting in contact. Your message has been sent.<br>
	<a href="@Url.RouteUrl("Homepage")">Return to the homepage</a></p>
</div>