<div class="row">
    <div class="twelve columns">

        @using (Html.BeginForm())
        {
            <h3>Are you really sure you want to delete your account?</h3>
            <p><strong>IMPORTANT: </strong> If you delete your account:</p>
            <ul>
                <li>All your details will be removed from the website</li>
                <li>You will no longer be able to login and access your projects</li>
                <li>You will be removed from any projects you've volunteered for</li>
            </ul>
            <input type="submit" name="confirmDelete" value="Yes, delete my account" class="button button-arrow" /> 
            <input type="submit" name="cancelDelete" value="No, take me back" class="black button medium radius" />
        }

    </div>
</div>