@model Gather.Web.Models.Common.FlickrWidgetModel
<div class="clearfix">
	<h4>Flickr photos</h4>
	<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=3&display=latest&layout=x&source=group&group=@Model.UserId&size=s"></script>
</div>
<a href="@Model.UserUrl" target="_blank" class="button">View more photos</a>