@model Gather.Web.Models.User.UserRoleModel
@using Gather.Web.Framework.UI
@{
    Html.Heading("Edit Role: " + Model.Name);
}

@using (Html.BeginForm())
{

    <div class="side-edit-panel">

        <div class="edit-panel">
            <h2>Save</h2>
            <div class="panel-content">
                <div class="inner-content">

                    <table class="info-table">
                        <tr>
                            <td>Created Date:</td>
                            <td>@Model.CreatedDate</td>
                        </tr>
                        <tr>
                            <td>Last Modified Date:</td>
                            <td>@Model.LastModifiedDate</td>
                        </tr>
                    </table>
                
                    <input type="submit" name="save" value="Update" class="button blue" />
                
                    @if(!Model.IsSystemRole)
                    {
                        <input type="submit" name="hide" value="@(Model.Active ? "Hide" : "Show")" class="button grey" />
                    }
                
                </div>
            </div>
        </div>

    </div>
    
    @Html.Partial("_CreateOrUpdate", Model)

}