@using Gather.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.AddTitleParts("404 Error - Page Not Found");
}
    
<div class="row">
    <h1>Oh gosh, we're sorry, something's gone awry. Bear with us.</h1>
    <p>This page is lost and gone. If you've time, let us know about it and we'll try and fix it.</p>
</div>   
    