@model Gather.Web.Models.Contact.ContactModel
@{
    Layout = null;    
}
<h2>New message from #wewillgather</h2>
<p>A new contact message has been received from the website:</p>
<p><strong>Email:</strong><br> @Model.Email</p>
<p><strong>Message:</strong><br> @Model.Comments</p>