<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.100.245\SQL2008,49157;Initial Catalog=weWillGather;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Fr3sh3gg;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=WeWillGather - Live;Integrated Security=False;Persist Security Info=False;User ID=wwg-live;Password=wwgabqre249;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
