@model Gather.Web.Areas.Admin.Models.User.UserListModel
@using Gather.Web.Areas.Admin
@using Gather.Web.Areas.Admin.Extensions;
@using Gather.Web.Framework.UI;
@using Gather.Web.Framework.UI.Paging;
@using MvcContrib.UI.Grid;
@{
    Html.Heading("Users");
}

@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <div class="table-nav">
        <div class="actions">
            <input name="search" value="@Model.Search" type="text" class="search-field" maxlength="255" />
            <input type="submit" value="Search" class="search-button button-small blue" />
        </div>
        <div class="pagination">
            @Html.Pager(Model.PageSize, Model.PageIndex, Model.TotalCount)
        </div>
    </div>
}
              
@Html.Grid(Model.Users).Columns(column => {
    column.Custom(GridHelper.UserNameColumn).Named("Username").Attributes(@width => "12%");
    column.For(u => u.DisplayName).Attributes(@width => "12%");
    column.For(u => u.Email ?? "N/A").Named("Email");
    column.For(u => u.FacebookDisplayName ?? "N/A").Named("Facebook Name").Attributes(@width => "12%");
    column.For(u => u.TwitterDisplayName ?? "N/A").Named("Twitter Name").Attributes(@width => "12%");
    column.For(u => u.Active).Attributes(@width => "8%");
    column.For(u => u.CreatedDate).Attributes(@width => "12%"); 
    column.Custom(GridHelper.ActionColumn).Named("Actions").Attributes(@width => "60px");
}).Attributes(@class => "list-table")
    
@Html.DeleteScript()