

/* CSS for jQuery Orbit Plugin 1.2
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php


/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 1px;
    height: 1px;
    position: relative; }

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }

div.orbit img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

div.orbit a img {
    border: none }

.orbit div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }


/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(/playground/playground/jquery-image-slider-plugin/orbit/rotator-black.png) no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url(/playground/playground/jquery-image-slider-plugin/orbit/timer-black.png) repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/playground/playground/jquery-image-slider-plugin/orbit/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url(/playground/playground/jquery-image-slider-plugin/orbit/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    color: #fff;
    padding: 7px 10px;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 920px;
    text-align: center }


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
    display: block }

div.slider-nav span {
    width: 78px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -50px;
    cursor: pointer; }

div.slider-nav span.right {
    background: url(/playground/playground/jquery-image-slider-plugin/orbit/right-arrow.png);
    right: 0; }

div.slider-nav span.left {
    background: url(/playground/playground/jquery-image-slider-plugin/orbit/left-arrow.png);
    left: 0; }

/* BULLET NAV
   ================================================== */

.orbit-bullets {
    position: absolute;
    z-index: 1000;
    list-style: none;
    bottom: -40px;
    left: 50%;
	margin-left: -50px;
    padding: 0; }

.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(/playground/playground/jquery-image-slider-plugin/orbit/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }

.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }

@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('/playground/fonts/Chunkfive-webfont.eot');
	src: url('/playground/fonts/Chunkfive-webfont.woff') format('woff'), url('/playground/playground/fonts/Chunkfive-webfont.ttf') format('truetype'), url('/playground/fonts/Chunkfive-webfont.svg#webfont90E2uSjN') format('svg');
	font-weight: normal !important;
	font-style: normal !important;
}

/* stuff for ZURB demo but not needed at all for orbit */
#featured {
	width: 940px;
	height: 450px;
	background: #000 url('/playground/images/playground/orbit/loading.gif') no-repeat center center;
	overflow: hidden;
	z-index: 10;
}
#featured img,
#featured div { display: none; }

#featured .content {
	background: url(/playground/playground/jquery-image-slider-plugin/coffee.jpg);
}
#featured .content h1 {
	font-family: 'ChunkFiveRegular', 'Georgia', serif;
	font-size: 40px;
	color: #2f260f;
	font-weight: normal !important;
	text-transform: uppercase;
	text-shadow:
		1px 1px 0 #f8f0d1,
		2px 2px 0 #f8f0d1,
		3px 3px 0 #1a5774;
	text-align: center;
	margin-top: 190px;
}
#featured .content h3 {
	font-family: 'ChunkFiveRegular', 'Georgia', serif;
	font-size: 20px;
	color: #7f6b37;
	text-transform: uppercase;
	font-weight: normal !important;
	text-align: center;
}

.slider-background {
	background: url(/playground/playground/jquery-image-slider-plugin/slider-background.jpg) repeat-x;
	height: 366px;
	width: 5000px;
	position: absolute;
	top: 40px;
	left: -2300px;
	z-index: -1;
}
body { overflow-x: hidden; }
